<!doctype html>
<html lang="en">
<head>
    <title>Date App</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<div id="app">
    <app/>
</div>

<script src="/js/main.js"></script>
</body>
</html>